.aamir-1 {height:75px ;border: solid 1px white;}
.aamir-2 {height:100px ;border: solid 1px white;}
.aamir-3 {height:360px ;border: solid 1px white;}
.aamir-4 {font-weight: normal; font-color: #EDEEEE; height:70px ;border: solid 1px white;align:center;}
.aamir-5 {align:center;}
.bg-grey {font-color: white; background-color:#343A40; height:100px;}
.padding-0 {padding-left: 0;padding-right:0;}
.aamir-6  {height:30px ;border: solid 1px white;}
.aamir-7 {width: 92%;}
.aamir-8 {align: left;min-height: 300px;}
.aamir-9 {align:center;min-height: 300px;}
.aamir-10 {align: right;min-height: 300px;}
.aamir-11 {min-height: 150px;}
.font-0 {font-size: 20px}
.aamir-12 {height:500px;}
.aamir-13 {height:120px;}
.aamir-14 {border-bottom: solid 1px #CCCCCC;}

